.Rproj.user
.Rhistory
.RData
.Ruserdata
/Getting and Cleaning Data/Learning_ETL_EDA
/Exploratory Data Analysis/ExData_Plotting1
/Reproducible Research/RepData_PeerAssessment1
/Reproducible Research/FinalProject/README_cache
/Reproducible Research/FinalProject/README_files
/Reproducible Research/FinalProject/rsconnect