.Rproj.user
.Rhistory
.RData
.Ruserdata
/Getting and Cleaning Data/Learning_ETL_EDA
/Exploratory Data Analysis/ExData_Plotting1
/Reproducible Research/RepData_PeerAssessment1
/Reproducible Research/FinalProject/README_cache
/Data Science Capstone/data/Coursera-SwiftKey.zip
/Data Science Capstone/data/final
/Data Science Capstone/data/building-dict
/Data Science Capstone/rsconnect
/Data Science Capstone/dsci-benchmark-master
/Data Science Capstone/EDA-Rslides/EDA-Rslides-cache
/Data Science Capstone/EDA-Rslides/rsconnect
/Data Science Capstone/Pitch-Rslides/rsconnect